<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.majy.zlj.qualityprize.mapper.GroupInfoMapper" >
    <resultMap id="BaseResultMap" type="com.majy.zlj.qualityprize.domain.GroupInfo" >
        <id column="groupId" property="groupId" jdbcType="VARCHAR" />
        <result column="groupName" property="groupName" jdbcType="VARCHAR" />
        <result column="groupIndex" property="groupIndex" jdbcType="VARCHAR" />
        <result column="gameId" property="gameId" jdbcType="VARCHAR" />
        <result column="scoreFlag" property="scoreFlag" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getAll" resultMap="BaseResultMap"  >
        SELECT
        *
        FROM groupinfo
        ORDER BY groupId, groupIndex
    </select>

    <select id="getGroupList" parameterType="com.majy.zlj.qualityprize.domain.GroupInfo" resultType="list" resultMap="BaseResultMap"  >
        SELECT
        *
        FROM groupinfo
        <where>
            <if test="groupId != null and groupId != '' ">
                and groupId = #{groupId}
            </if>
            <if test="groupName != null and groupName != '' ">
                and groupName = #{groupName}
            </if>
            <if test="gameId != null and gameId != '' ">
                and gameId = #{gameId}
            </if>
            <if test="scoreFlag != null and scoreFlag != '' ">
                and scoreFlag = #{scoreFlag}
            </if>
            ORDER BY groupId, groupIndex
        </where>
    </select>

    <select id="getGroupInfoById" parameterType="java.lang.String" resultMap="BaseResultMap" >
        SELECT
        *
        FROM groupinfo
        WHERE groupId = #{groupId}
    </select>

    <select id="getGroupListByGameId" parameterType="java.lang.String" resultType="com.majy.zlj.qualityprize.domain.GroupInfo">
        SELECT
        *
        FROM groupinfo
        WHERE gameId = #{gameId}
    </select>

    <select id="getScoreGroupListByGameId" parameterType="java.lang.String" resultType="com.majy.zlj.qualityprize.domain.GroupInfo">
        SELECT
        *
        FROM groupinfo
        WHERE gameId = #{gameId}
        AND scoreFlag = '1'
    </select>

    <select id="getGroupCountByGameId" parameterType="java.lang.String" resultType="int">
        SELECT
        count(*)
        FROM groupinfo
        WHERE gameId = #{gameId}
        AND scoreFlag = '1'
    </select>

    <insert id="insert" parameterType="com.majy.zlj.qualityprize.domain.GroupInfo" >
        INSERT INTO
        groupinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="groupId != null and groupId != '' ">
                groupId,
            </if>
            <if test="groupName != null and groupName != '' ">
                groupName,
            </if>
            <if test="groupIndex != null and groupIndex != '' ">
                groupIndex,
            </if>
            <if test="gameId != null and gameId != '' ">
                gameId,
            </if>
            <if test="scoreFlag != null and scoreFlag != '' ">
                scoreFlag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="groupId != null and groupId != '' ">
                #{groupId},
            </if>
            <if test="groupName != null and groupName != '' ">
                #{groupName},
            </if>
            <if test="groupIndex != null and groupIndex != '' ">
                #{groupIndex},
            </if>
            <if test="gameId != null and gameId != '' ">
                #{gameId},
            </if>
            <if test="scoreFlag != null and scoreFlag != '' ">
                #{scoreFlag},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.majy.zlj.qualityprize.domain.GroupInfo" >
        UPDATE
        groupinfo
        <set>
            <if test="groupName != null and groupName != ''">groupName = #{groupName},</if>
            <if test="groupIndex != null and groupIndex != ''">groupIndex = #{groupIndex},</if>
            <if test="scoreFlag != null and scoreFlag != ''">scoreFlag = #{scoreFlag},</if>
        </set>
        WHERE
        groupId = #{groupId}
    </update>

    <delete id="delete" parameterType="java.lang.String" >
        DELETE FROM
        groupinfo
        WHERE
        groupId =#{groupId}
    </delete>
    <delete id="deleteByGameId" parameterType="java.lang.String">
        DELETE FROM groupinfo WHERE gameId = #{gameId}
    </delete>

</mapper>